@import url(../../styles/_viariables.scss);

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  
  .formHeder {
    width: 350px;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .text{
    color:var(--main-Color)
    
  }