@import url('../../styles/_viariables.scss');

.bedgeContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}


.star{
stroke-width: 1.5px;
stroke: var(--main-Color);
position: absolute;
z-index: 1;

}



.bedge{
    margin-top: 2.5rem;
    fill: red; 
  
}


.position{
    position: absolute;
    z-index: 10000;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0.2rem;
    -webkit-text-stroke: 1px var(--main-Color);
    // -webkit-text-fill-color: white;
  
}