@import url(../../styles/_viariables.scss);
$animation-Scale: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;



.err{
  fill:var(--main-Color);
  padding: 1rem;


}


  .chekmark{
    fill:var(--main-Color);
    padding: 1rem;
  
    -webkit-animation: rotate-90-bottom-cw 0.4s linear 1s both;
    animation: rotate-90-bottom-cw 0.4s linear 1s both;}
  
  
   @-webkit-keyframes rotate-90-bottom-cw {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    50% {
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
    }
  
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
              fill: var(--animation-Color);
    }
  }
  @keyframes rotate-90-bottom-cw {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
  
    }
  
    60% {
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
   }
  
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
  
    }
  }
  
  
  .infochemark{
    font-family: sans-serif;
    font-size: larger;
    padding: 1rem;
    text-align: center;
  }


 .styleError{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 3rem 0rem 1.5rem 0rem;
    -webkit-animation: $animation-Scale;
    animation: $animation-Scale;
}
  
  .chekmarkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px solid var(--main-Color);
    border-radius: 100px ;
    margin: 3rem 0rem 1.5rem 0rem;
  
         -webkit-animation: $animation-Scale;
            animation: $animation-Scale;

  }
  
  
  
   @-webkit-keyframes scale-up-center {
    0% {
      opacity: 0%;
      -webkit-transform: scale(0.5) ;
              transform: scale(0.5);
    }
    100% {
      opacity: 100%;
      -webkit-transform: scale(1) ;
              transform: scale(1) ;
    }
  }
  @keyframes scale-up-center {
    0% {
      opacity: 0%;
      -webkit-transform: scale(0.5) ;
              transform: scale(0.5) ;
                    
    }
    100% {
      opacity: 100%;
      -webkit-transform: scale(1) ;
              transform: scale(1) ;
    }
  }
  