@import url('../../styles/_viariables.scss');

.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 15rem ;
    margin-top: 3rem;
    padding: 0px;
    background-color: var(--main-Color);
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 17.54%, 2.00% 17.84%, 4.00% 18.16%, 6.00% 18.50%, 8.00% 18.85%, 10.00% 19.20%, 12.00% 19.54%, 14.00% 19.84%, 16.00% 20.11%, 18.00% 20.33%, 20.00% 20.49%, 22.00% 20.59%, 24.00% 20.62%, 26.00% 20.59%, 28.00% 20.50%, 30.00% 20.34%, 32.00% 20.13%, 34.00% 19.86%, 36.00% 19.56%, 38.00% 19.23%, 40.00% 18.88%, 42.00% 18.53%, 44.00% 18.18%, 46.00% 17.86%, 48.00% 17.56%, 50.00% 17.31%, 52.00% 17.11%, 54.00% 16.97%, 56.00% 16.89%, 58.00% 16.88%, 60.00% 16.93%, 62.00% 17.05%, 64.00% 17.23%, 66.00% 17.46%, 68.00% 17.73%, 70.00% 18.05%, 72.00% 18.39%, 74.00% 18.74%, 76.00% 19.09%, 78.00% 19.43%, 80.00% 19.74%, 82.00% 20.02%, 84.00% 20.26%, 86.00% 20.44%, 88.00% 20.56%, 90.00% 20.62%, 92.00% 20.61%, 94.00% 20.54%, 96.00% 20.40%, 98.00% 20.20%, 100.00% 19.96%);


}


    .mn{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 2rem;
    padding: 0px;
    width: 60%;
    font-weight: 800;
    color: #fff;
}

.Hfive{

    margin: 0px;
}
.find{
    color: #fff;
    font-weight: 800;
}

.flexBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}

.uL{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0px;
}


.btn{
    color: white;
    background-color: var(--main-Color);
    width: 7rem;
    margin-top: 1rem ;
    border-radius: 100px;
    border: 1px solid white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;

}

.directUrl{
    color: #fff;
    text-decoration: none;
}
.directUrl:link {
    color: #fff;
  }
  
  .directUrl:visited {
    color: #fff;
  }
  
  .directUrl:hover {
    color: #fff;
  }
  
  .directUrl:active {
    color: #fff;
  }

  .confidentaliatate{
    color: #fff;
    
  }