@import url(../../styles/_viariables.scss);



  .userContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
    text-align: center;
  }
  .loginContainer{
    display: flex;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      
  }

  .FacebookText{
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .title{
    text-align: center;
    color: var(--main-Color);
  }

  
  .text{
    font-weight: 600;
   
  }

  .option{
    font-weight: 700;
    font-size: 15px;
    margin: 1rem 0rem 1rem 0rem;

  }

  .plug{
    position: absolute;
    z-index: -1;
    margin-top: -5rem;
    fill: rgba(209, 209, 209, 0.475);

  }

  
  