@import '../../styles/viariables.scss';
.root {
    align-self: start;
    width: 100vw;
    height: 14rem;
    background-color: var(--main-Color) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
        gap: 0em;
        
      }
   
  }