@import url('../../styles/_viariables.scss');



.root {
    cursor: pointer;
    // margin-bottom:-0.3rem ;
  }
  
  .ListItems {
    width: auto;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 5em;
    align-content: center;
    color: var(--main-Color);

   

    @media only screen and (max-width: 800px) {
        padding: 0;
        margin: 0;
        gap: 1.5em;
        

    }

  }
  
  .active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    color: var(--main-Color);
    fill: var(--main-Color);
    background-color: #ffffff;
    padding: 1rem;
    width: auto;
    text-align: center;
    border-radius: 100px;
    text-align: center;

    @media only screen and (max-width: 800px) {
        padding: 0.7rem;
       
        }
  }
  
  

  .inactive{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    fill: #ffffff;
    list-style: none;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;

    @media only screen and (max-width: 500px) {
        padding: 0.5;
        }
  }